:root {
	/* Change these values, as required */
	/* --clr-white: hsl(0 0% 100%); */
	--clr-neutral-100: hsl(0 0% 95%);
	--clr-neutral-400: hsl(0 0% 60%);
	--clr-neutral-800: hsl(0 0% 17.5%);
	--clr-neutral-900: hsl(0 0% 7.5%);

	--clr-blue-100: hsl(215, 70%, 95%);
	--clr-blue-200: hsl(215, 70%, 82.5%);
	/* --clr-blue-400: hsl(215, 70%, 60%); */
	/* --clr-blue-500: hsl(215, 70%, 50%); */
	/* --clr-blue-600: hsl(215, 70%, 40%); */
	--clr-blue-800: hsl(215 70% 17.5%);
	--clr-blue-900: hsl(215, 70%, 7.5%);

	/* --clr-orange-100: hsl(33, 96%, 95%); */
	--clr-orange-200: hsl(33, 96%, 82.5%);
	--clr-orange-400: hsl(33, 96%, 60%);
	--clr-orange-500: hsl(33, 96%, 50%);
	--clr-orange-600: hsl(33, 96%, 40%);
	--clr-orange-800: hsl(33 96% 17.5%);
	/* --clr-orange-900: hsl(33, 96%, 7.5%); */

	/* --clr-lime-200: hsl(144 75% 82.5%); */
	--clr-lime-700: hsl(144 75% 30%);

	--ff-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--fs-reg: 1rem;
	--fs-large: 1.65rem;
	--fw-500: 500;
	--fw-700: 700;

	--size-1: 0.375rem;
	--size-2: 0.5rem;
	/* --size-3: 0.75rem; */
	--size-4: 1rem;
	/* --size-5: 1.25rem; */
	--size-6: 1.5rem;
	--size-8: 2rem;

	/* For Light Theme */
	--bg-primary-light: var(--clr-blue-100);
	--bg-secondary-light: var(--clr-blue-200);
	--border-light: var(--clr-neutral-400);
	--box-shadow-light: var(--clr-orange-800);
	--button-light: var(--clr-orange-400);
	--button-hover-light: var(--clr-orange-500);
	--text-primary-light: var(--clr-neutral-900);

	/* For Dark Theme */
	--bg-primary-dark: var(--clr-blue-900);
	--bg-secondary-dark: var(--clr-blue-800);
	--border-dark: var(--clr-neutral-400);
	--box-shadow-dark: var(--clr-orange-200);
	--button-dark: var(--clr-orange-500);
	--button-hover-dark: var(--clr-orange-400);
	--text-primary-dark: var(--clr-neutral-100);

	color-scheme: light;
	--background: light-dark(var(--bg-primary-light), var(--bg-primary-dark));
	--background-2: light-dark(var(--bg-secondary-light), var(--bg-secondary-dark));
	--border: light-dark(var(--border-light), var(--border-dark));
	--box-shadow: light-dark(var(--box-shadow-light), var(--box-shadow-dark));
	--button: light-dark(var(--button-light), var(--button-dark));
	--button-hover: light-dark(var(--button-hover-light), var(--button-hover-dark));
	--color: light-dark(var(--text-primary-light), var(--text-primary-dark));
}
[data-theme="light"] {
	color-scheme: light;
}
[data-theme="dark"] {
	color-scheme: dark;
}

/* RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
img,
picture,
svg {
	display: block;
	max-width: 100%;
}

/* CUSTOM STYLES */
body {
	background-color: var(--background);
	color: var(--color);
	font-family: var(--ff-primary);
	font-size: var(--fs-reg);
	line-height: 1.4;

	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header" "main" "footer";
	min-block-size: 100svh;
	align-items: stretch;
}
header {
	grid-area: "header";
}
main {
	grid-area: "main";
}
footer {
	grid-area: "footer";
}
h1,
h2 {
	font-weight: var(--fw-700);
	margin-bottom: var(--size-2);
}
h1 {
	font-size: var(--fs-large);
}
h1 {
	font-size: var(--fs-large);
	line-height: 1.2;
}
.text-upper {
	text-transform: uppercase;
}

/* HEADER STYLES */
header {
	border-bottom: 1px solid var(--border);
}
.page-title {
	border-bottom: 1px solid var(--border);
	padding: var(--size-2) var(--size-4);
}
.action-bar {
	background-color: var(--background-2);
	padding: var(--size-2) var(--size-4);

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.generate-btn {
	background-color: var(--button);
	border: none;
	border-radius: var(--size-2);
	color: contrast-color(var(--button));
	font-size: var(--fs-reg);
	font-weight: var(--fw-500);
	padding: var(--size-2) var(--size-4);
	cursor: pointer;

	display: flex;
	align-items: center;
	gap: var(--size-1);

	&:hover,
	&:focus-visible {
		background-color: var(--button-hover);
		box-shadow: 0 4px 10px rgba(from var(--box-shadow) r g b / 0.2);
	}
	&:focus-visible {
		outline: 2px solid var(--button);
	}

	& svg {
		stroke: contrast-color(var(--button));
		transition: transform 0.3s ease;
	}
	&:hover svg,
	&:focus-visible svg {
		transform: rotate(90deg);
	}
}

/* FOOTER STYLES */
footer {
	border-top: 1px solid var(--border);
	padding: var(--size-2) var(--size-4);
}

/* MAIN STYLES */
.palette-container {
	display: grid;
	grid-auto-flow: row;
	height: 100%;
}
@media (min-width: 768px) {
	.palette-container {
		grid-auto-flow: column;
	}
}

.color-box {
	&:hover .color-info {
		transform: scale(1);
		opacity: 1;
	}
}
.color {
	display: flex;
	align-items: end;
	justify-content: center;
	min-height: 100%;
	cursor: pointer;
}
.color-info {
	text-align: center;
	display: flex;
	gap: var(--size-2);
	align-items: flex-start;
	justify-content: center;
	min-width: 100%;

	opacity: 0.7;
	transform: scale(0.8);
	padding-block: var(--size-8);
	transition:
		opacity 0.3s ease,
		transform 0.3s ease;
}
.hex-value {
	font-weight: var(--fw-500);
	letter-spacing: 1px;
	cursor: pointer;

	&:hover + .copy-btn {
		opacity: 1;
	}
}
.copy-btn {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: currentColor;
	-webkit-mask: url("../img/copy.svg") no-repeat center;
	mask: url("../img/copy.svg") no-repeat center;
	-webkit-mask-size: contain;
	mask-size: contain;

	cursor: pointer;
}

.copy-success {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: currentColor;
	-webkit-mask: url("../img/checky.svg") no-repeat center;
	mask: url("../img/check.svg") no-repeat center;
	-webkit-mask-size: contain;
	mask-size: contain;
}

/* THEME TOGGLE STYLING */
#theme-toggle {
	background: var(--background-2);
	border: 0;
	cursor: pointer;
	padding: var(--size-2);
	border-radius: 50%;
	position: relative;
	z-index: 10;
	transform: scale(0.8);

	&:hover,
	&:focus-visible {
		outline: 0;
		background: var(--background);
	}

	& svg {
		fill: var(--color);
	}
}
#theme-toggle::after {
	content: attr(aria-label);
	position: absolute;
	right: 2.8em;
	bottom: var(--size-2);
	width: max-content;
	margin: 0 auto;
	padding: var(--size-2) var(--size-4);
	border-radius: 0.125em;
	z-index: -1;
	opacity: 0;
	transform: scale(0);
	transform-origin: center;
	transition:
		transform 0ms linear 100ms,
		opacity 100ms linear;
}
#theme-toggle:hover::after,
#theme-toggle:focus-visible::after {
	background: var(--background);
	opacity: 0.7;
	transform: scale(1);
	transition:
		transform 70ms linear,
		opacity 70ms linear;
}
#theme-toggle #toggle-circle {
	transition: transform 500ms ease-out;
}
body[data-theme="light"] #theme-toggle #toggle-circle {
	transform: translateX(-14%);
}
body[data-theme="dark"] #theme-toggle #toggle-circle {
	transform: translateX(0);
}
/* THEME TOGGLE STYLING ENDS */
